{erl_opts, [debug_info]}.

{deps, [
    {uuid, "2.0.4", {pkg, uuid_erl}},
    termseal
]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp_update_packager"},
    {source_url, "https://github.com/grisp/grisp_update_packager"}
]}.
